# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
*.envrc
# dependencies
node_modules/
data
# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
